<ul class="nav nav-tabs">
	<li class="active">
		<a href="/background/users">用户管理</a>
	</li>
	<li>
		<a href="/background/information">实用资讯</a>
	</li>
	<li>
		<a href="/background/user_post">免费交流</a>
	</li>
	<li>
		<a href="/background/news">新闻</a>
	</li>
	<li>
		<a href="/background/learning">日语学习</a>
	</li>
	<li>
		<a href="/background/modules">模块</a>
	</li>
</ul>