<div data-role="content">
    <div class="user_container">
        <form method="post" enctype="multipart/form-data">
            <p>请输入用户名:</p>
            <input name="username" id="textinput1" placeholder="用户名:" value="" type="text">
            <p>请输入密码:</p>
            <input name="password" id="textinput2" placeholder="密码:" value="" type="password">
            <br/>
            <input name="password-repeat" id="textinput3" placeholder="重复密码:" value="" type="password">
            <input type="submit" value="注册">
        </form>
    </div>
</div>
<div data-role="content">
    <div data-role="fieldcontain">
        <div class="about_contain">
            <a style="color: #0086ab;" data-transition="slide" href="/login"></br>已有账号</a>
        </div>
    </div>
</div>