<div data-role="content">
    <div class="search_block">
        <form id="search_bar" class="search">
            <input type="search" data-mini="true" name="search_key" id="search_input"  placeholder="例: 池袋 微波炉 (简繁中日文皆可)" value="" />
        </form>
    </div>
    <div class="search_block_holder">
    </div>
    <div id="post_list" class="ui-grid-b">
        <% include post_list %>
    </div>
    <div id="ajax_loading_bar">
        <div id="noTrespassingOuterBarG">
            <div id="noTrespassingFrontBarG" class="noTrespassingAnimationG">
                <div class="noTrespassingBarLineG">
                </div>
                <div class="noTrespassingBarLineG">
                </div>
                <div class="noTrespassingBarLineG">
                </div>
                <div class="noTrespassingBarLineG">
                </div>
                <div class="noTrespassingBarLineG">
                </div>
                <div class="noTrespassingBarLineG">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).one("pageinit","#user_post_view_page", function( event ) {
    $('#ajax_loading_bar').hide();
    var mSkip=15;
    var mLimit=9;
    var mKey=$('#search_input').val();
    var mFlagFinished=false, scrollOK = true;
    $(window).bind('scroll', function () {
        if (scrollOK&&(!mFlagFinished)&&($.mobile.activePage.attr("id")=="user_post_view_page")) {
            if (($(this).scrollTop() + $(this).height()) >= ($(document).height() - 300)) {
                scrollOK = false;
                $('#ajax_loading_bar').show();
                $.ajax({
                    url: '/user_post_view/post_list',
                    type:'POST',
                    timeout: 10000,
                    data: 'index=<%= title %>&key='+mKey+'&skip='+mSkip+'&limit='+mLimit,
                    success: function(result){
                        mSkip+=mLimit;
                        scrollOK=true;
                        $('#post_list').append(result);
                        if (result==="") {
                            $('#ajax_loading_bar').hide();
                            mFlagFinished=true;
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        $('#ajax_loading_bar').hide();
                        mFlagFinished=true;
                    }
                });
            }
        }
    });
    $('#search_bar').submit(function(e){
        mKey=$('#search_input').val();
        mFlagFinished=false;
        $.ajax({
            url: '/user_post_view/post_list',
            type:'POST',
            timeout: 10000,
            data: 'index=<%= title %>&key='+mKey+'&skip=0&limit=15',
            success: function(result){
                $('#post_list').html(result);
                $('#ajax_loading_bar').hide();
                mFlagFinished=false;
                mSkip=15;
            },
            error: function(jqXHR, textStatus, errorThrown){
                $('#ajax_loading_bar').hide();
                mFlagFinished=false;
                mSkip=15;
            }
        }); 
        return false;
        e.preventDefault();
    });
});
</script>