<div data-role="content">
    <div data-role="fieldcontain">
        <div class="about_contain">
            <img src="/img/logo.png"></img>
            <pre style="color: #3e4c54; line-height: 160%;"></br>《简单一点》为您把资讯传递到每一部手机，让华人的世界从此触手可及。</pre>
            <i style="color: #d34c5e;">（本应用发布资讯在中国大陆地区无法浏览）</i>
            </br></br></br><a style="color: #0086ab;" data-transition="slide" href="/announce">服务条款及免责声明</a>
            <a style="color: #0086ab;" data-transition="slide" href="/aboutpost">联系我们</a></pre>
            <p>version 1.0</p>
        </div>
    </div>
</div>