<div data-role="content">
	<div class="user_container">
		<h3 style="margin-bottom:0.4em; display:inline-block;">服务热线</h3>
		<div style="padding-left:1em; border-top:2px solid #3db680">
			<pre>QQ: 2066245510 微信: 2066245510
邮箱: 2066245510@qq.com
服务热线: 050-5875-4617
工作时间: 10:00〜21:00
定休日: 日曜日 祝日
</pre>
		</div>
	</div>
	<div class="user_container">
		<h3 style="margin-bottom:0.4em; display:inline-block;">发布说明</h3>
		<div style="padding-left:1em; border-top:2px solid #44a5cb">
			<pre>推荐QQ或微信联系，可以随时发布资讯，内容无字数限制，可以展示高清图片，用户可以直接搜索需要的内容。</pre>
		</div>
	</div>
	<div class="user_container">
		<h3 style="margin-bottom:0.4em; display:inline-block;">备注</h3>
		<div style="padding-left:1em; border-top:2px solid #e6855e">
			<pre>1.请先阅读<a style="color: #0086ab; font-size: 1em;" data-transition="slide" href="/announce">服务条款及免责声明</a>
2.如果遇到忙碌中，未能及时回应您的情况，请稍做等待，我们会尽快回应您。</pre>
		</div>
	</div>
</div>