<div data-role="content">
    <form action="" method="POST">
        <div data-role="fieldcontain">
            <label for="textarea1">
                内容：
            </label>
            <textarea style="height: 10em;" class=".content_textarea" name="content" id="textarea1" placeholder="请输入要反馈的内容 "></textarea>
        </div>
        <input type="submit" data-icon="check" data-iconpos="left" value="发送">
    </form>
</div>